<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="student04" class="com.studymyself.bao04.Student04" autowire="byName">
        <property name="name" value="智控3"/>
        <property name="age" value="2500"/>
        <!--<property name="school" ref="school"/>-->
    </bean>

</beans>