<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
        引用类型的set注入：
        引用类型与简单类型的区别就是value位置是ref属性，值是一个对象或者说bean标签的id
        这个引用对象也被在另一个bean标签中声明，引用对象的属性也在其中被set注入
        层层深入

    -->
    <bean id="student02" class="com.studymyself.bao02.Student02">
        <property name="name" value="智控"/>
        <property name="age" value="25"/>
        <property name="school" ref="school"/>
     </bean>

    <!--声明School类的对象-->
    <bean id="school" class="com.studymyself.bao02.School">
        <property name="name" value="北京大学"/>
        <property name="addr" value="北京"/>
     </bean>
</beans>